#contentWrapper {
  display: flex;
  height: 300px;
  width: 600px;
  border: solid 1px black;
}

#controlsWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: darkgrey;
}

#canvasWrapper {
  flex-grow: 1;
}

button {
  display: inline-block;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.row > div {
  flex: 1;
  border: solid .5px black
}

.colors {
  width: 16px;
  height: 16px;
  border: solid 1px black;
}

#colorPal {
  display: flex;
}

#grid {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 160px;
}

.selected {
  border: solid 3px black;
}
